<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		
		<add name ="DBSCreditUnion_DB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\LENOVO\DESKTOP\DBS-CREDITUNION\DBS-CREDITUNION\DBSCREDITUNION_DB.MDF;Integrated Security=True"/>
	</connectionStrings>

	<appSettings>
		<add key="SortCode" value="101010"/>
	</appSettings>
	
</configuration>